.mat-icon-size-categories {
    width: 60px;
    height: 60px;
    // font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .mat-icon-size-sm {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }