<div
  class="flex w-screen justify-between items-center pt-6 md:pt-9 p-2 md:p-4 px-4 md:px-20 bg-Light gap-6"
>
  <button class="flex items-center gap-2">
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      fontIcon="rocket_launch"
      class="mat-icon-size"
    ></mat-icon>
    <p class="font-bold text-lg text-Blue hidden sm:block">mindLabs</p>
  </button>
  <mat-form-field appearance="outline" class="search w-96">
    <!-- <mat-label>Pesquisa</mat-label> -->
    <mat-icon matPrefix>search</mat-icon>
    <input type="search" matInput placeholder="Ex. Roupas masculinas" />
  </mat-form-field>
  <div class="gap-2 flex">
    <mat-icon>shopping_cart</mat-icon>
    <mat-icon>favorites</mat-icon>
    <mat-icon>account_circle</mat-icon>
  </div>
</div>
