<div
  class="flex w-screen justify-between items-center pt-6 md:pt-9 p-2 md:p-4 px-4 md:px-20 bg-Light gap-6"
>
<!-- logo -->
  <button class="flex items-center gap-2" routerLink="/home">
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      fontIcon="rocket_launch"
      class="mat-icon-size"
    ></mat-icon>
    <p class="font-bold text-lg text-Blue hidden sm:block">mindLabs</p>
  </button>


  <div class="gap-2 flex">
    <button (click)="pressCart()">
      <mat-icon class="mat-icon-size-md" matBadge="{{cartLength}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button (click)="pressFavorites()">
    <mat-icon class="mat-icon-size-md">favorites</mat-icon>
  </button>

    <button (click)="pressUserPage()">
    <mat-icon class="mat-icon-size-md"> account_circle</mat-icon>
  </button>

  </div>
</div>
