<app-header></app-header>
<div class="fullscreen flex flex-col md:py-6 py-3 md:px-20 px-6">
  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 md:gap-10">
    <div class="rounded-xl px-8 py-4 flex items-center justify-center">
      <img class="mx-auto w-96" src="{{ produtoSelecionado?.image }}" />
    </div>
    <div class="py-4 flex flex-col">
      <p
        class="md:text-4xl md:font-bold text- text-Dark mb-1 text-center md:text-left"
      >
        {{ produtoSelecionado?.name }}
      </p>
      <p class="text-lg font-semibold text-Blue mb-2 text-center md:text-left">
        R$ <span class="text-3xl">{{ produtoSelecionado?.price }}</span>
      </p>
      <p class="text-md text-DarkHover mb-4 text-center md:text-left">
        {{ produtoSelecionado?.description }}
      </p>
      <p class="md:mt-auto">Quantidade</p>
      <div class="flex mb-4 gap-2 mx-auto md:mx-0">
        <button
          (click)="addToCart()"
          class="p-2 rounded-lg bg-Blue text-White w-52 flex justify-around items-center"
        >
          <mat-icon class="text-White mat-icon-size-small"
            >shopping_cart</mat-icon
          >
          <p class="font-bold">Adicionar ao carrinho</p>
        </button>
        <button (click)="setFavorite()" class="flex justify-center items-center w-10 h-10">
          <mat-icon class="text-Red mat-icon-size">favorite</mat-icon>
        </button>
      </div>

      <div class="flex items-center gap-1">
        <mat-icon class="text-Red mat-icon-size-small">star</mat-icon>
        <p class="font-medium text-Dark">{{ produtoSelecionado?.rating }}</p>
      </div>

      <p class="">category</p>
    </div>
  </div>
  <div class=" w-full mt-10">
    <p class="text-center text-xl font-semibold text-DarkHover">
      Produtos semelhantes
    </p>
    <app-products-list [listProducts]="products" ></app-products-list>
  </div>
</div>
