<app-header></app-header>
<div class="fullscreen md:py-6 py-3 md:px-20 px-4">

<app-title-screen title="Carrinho"></app-title-screen>

<div
*ngIf="carrinho.length!=0"
  class=" flex md:flex-row flex-col  gap-2"
>
  <div class="w-full flex flex-col">
   
    <div class="mt-6">
      <div
        class=" mb-2 shadow-md flex md:px-4 px-3 py-2 gap-4 rounded-lg hover:bg-Light border-b-2 border-r-2  border-LightHover"
        *ngFor="let item of carrinho"
      >
        <button (click)="removeItem(item)">
          <mat-icon class="text-Red">remove_circle_outlined</mat-icon>
        </button>
        <img class="w-20 h-20" src="{{ item.image }}" />
        <div>
          <p
            class="font-semibold text-DarkHover md:text-lg text-md line-clamp-2 overflow-hidden"
          >
            {{ item.name }}
          </p>
          <p class="text-sm text-Blue">
            R$ <span class="text-xl font-semibold">{{ item.price }}</span>
          </p>
        </div>
        <div class="ml-auto w-24 flex flex-col items-center justify-center">
          <p class="text-sm text-DarkHover font-medium">Quantidade</p>
          <div class="flex gap-2 justify-center items-center">
            <button
              class="rounded-full hover:bg-LightHover text-DarkHover w-6 h-6 flex justify-center items-center text-xs"
            >
              -
            </button>
            <input
              class="w-8 border-b-2  border-LightHover text-center outline-none rounded-t-md"
            />
            <button
              class="rounded-full hover:bg-LightHover text-DarkHover w-6 h-6 flex justify-center items-center text-xs"
            >
              +
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- right banner with confirm -->
  <div
    class="w-96 bg-Light flex flex-col py-6 px-4 rounded-lg mx-auto md:mx-0"
  >
    <p class="text-lg font-semibold text-Blue border-b-2 border-LightHover mb-4">Resumo do Pedido</p>
    <p *ngFor="let item of carrinho " class="mb-2 font-regular text-sm font-medium">{{item.name}}</p>
    <p class="md:mt-auto mb-1 text-sm  text-DarkHover">valor: R$ <span class="text-xl font-semibold text-Red">{{totalValue}}</span>,00</p>
    <button
    (click)="goToPayment()"
      class="bg-Blue  rounded-lg px-4 py-2 flex justify-between items-center"
    >
      <p class="text-White font-regular text-lg">Continuar</p>
      <mat-icon class="text-White font-bold">shopping_cart_checkout</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="carrinho.length==0" class="h-screen w-full flex justify-center items-center flex-col">
    <mat-icon>remove_shopping_cart</mat-icon>
    <p>Carrinho vazio</p>
    <button><p>Adicione itens</p></button>

</div>
</div>