<app-header></app-header>
<div
  class="fullscreen flex flex-col md:py-6 py-3 lg:px-20 md:px-15 sm:px-10 px-4 gap-2"
>
  <div class="w-full flex flex-col">
    <app-title-screen title="Favoritos"></app-title-screen>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
      <button
        class="rounded-lg flex flex-row bg-Light px-4 py-4 w-full gap-4"
        *ngFor="let item of listProducts"
        (click)="itemSelected(item)"
      >
        <img src="{{ item.image }}" class="w-40 h-40 object-contain" />
        <div class="h-full flex flex-col">
          <div class="overflow-hidden line-clamp-2 mt-0">
            <p class="font-medium text-md text-Dark text-start">
              {{ item.name }}
            </p>
          </div>
          <div class="overflow-hidden line-clamp-3 mt-1">
            <p class="text-md text-Dark text-start">
              {{ item.description }} ad fasd fas dfasd fasdf asd fasd fasd f
              asdf asdf asdf asdf asdf asdf
            </p>
          </div>
          <div class="flex w-full justify-between ml-auto mt-auto">
            
            <div
              class="rounded-lg h-8 w-fit gap-1 flex items-center "
            >
            <mat-icon
              class="mat-icon-size text-Red  "
              >star</mat-icon
            >
              <p class="text-DarkHover font-bold text-xs">
                {{ item.rating }}
              </p>
            </div>
            <span class="text-3xl font-bold text-Blue">
              <span class="text-sm font-light">R$</span>
              {{ item.price }}</span
            >
          </div>
        </div>

        <!-- <p class="font-normal text-xs text-DarkHover">{{ item.description }}</p> -->
      </button>
    </div>
  </div>
</div>
