<div class="fullscreen center-content bg-LightHover">
  <div
    class="py-10 flex flex-col items-center w-96 px-10 rounded-lg shadow-md bg-White"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      fontIcon="rocket_launch"
      class="mat-icon-size text-Blue mb-10"
    ></mat-icon>
    <div class="w-full">
      <app-custom-input
        [(value)]="username"
        placeholder="Email"
        isPassword="email"
        

      ></app-custom-input>
      <app-custom-input
        [(value)]="password"
        placeholder="Senha"
        isPassword="password"
      ></app-custom-input>
    </div>

    <div class="h-5 mb-1">
      <p *ngIf="!validCredentials" class="text-Red text-sm">
        Email ou senha incorretos
      </p>
    </div>

    <button
      class="mb-1 bg-LightHover text-Dark w-36 rounded-lg py-1"
      (click)="handleLogin(username, password)"
    >
      Entrar
    </button>
    <button class="border-2 w-36 rounded-lg py-1" (click)="goToSignUp()">
      Cadastrar-se
    </button>
  </div>
</div>
