<div class="fullscreen center-content bg-LightHover">
  <div
    class="py-8 flex flex-col items-center w-fit px-10 rounded-lg shadow-md bg-White"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="home icon"
      fontIcon="rocket_launch"
      class="mat-icon-size text-Blue mb-10"
    />
    <div class="w-96 flex flex-col">
      <div class="flex gap-2">
        <app-custom-input
          [(value)]="first_name"
          placeholder="Nome"
          [wid]="40"
        />
        <app-custom-input [(value)]="last_name" placeholder="Sobrenome" />
      </div>
      <div class="flex gap-2">
        <app-custom-input
          [(value)]="username"
          placeholder="Username"
        />
        <app-custom-input [(value)]="cpf" placeholder="CPF" />
      </div>

      <app-custom-input [(value)]="email" placeholder="Email"  />
      <div class="flex gap-2 w-full">
      <app-custom-input [(value)]="password" placeholder="Senha"  />
    </div>

      <div class="h-5 mb-1">
        <p *ngIf="!validCredentials" class="text-Red text-sm">
          Preencha todos os campos
        </p>
      </div>

      <button
        class="mb-1 bg-Blue text-Light w-36 rounded-lg py-1 mx-auto"
        (click)="
          handleClick(email, username, password, first_name, last_name, cpf)
        "
      >
        Cadastrar-se
      </button>
      <button  class="mb-1 bg-LightHover text-Dark w-36 rounded-lg py-1 mx-auto"(click)="goToLogin()">
        Voltar ao login
      </button>
    </div>
  </div>
</div>
