<div class="fullscreen center-content">
    <div class="p-10 flex flex-col items-center w-96">
      <img src="{{ logo }}" class="w-40 mb-10" />
      <p>Cadastro</p>
      <mat-form-field appearance="outline" class="w-full mb-2 ">
        <mat-label>Email</mat-label>
        <input class="border-none"  [(ngModel)]="email" [formControl]="emailControl" matInput placeholder="Digite seu e-mail" />
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full mb-2" >
        <mat-label>Username</mat-label>
        <input class="border-none"  [(ngModel)]="username"   matInput placeholder="Digite seu username" />
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full mb-2" >
        <mat-label>Senha</mat-label>
        <input class="border-none"  [(ngModel)]="password" [formControl]="passwordControl"  matInput placeholder="Digite sua senha" />
        <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>

        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <div class="h-5 mb-1">
        <p *ngIf="!validCredentials" class="text-Red text-sm">Preencha todos os campos</p>
  </div>
      
  
      <button mat-flat-button color="primary" class="mb-2" (click)="handleClick(email,username, password)">Cadastrar-se</button>
      <button mat-stroked-button color="primary" (click)="goToLogin()">Voltar ao login</button>
    </div>
  </div>
  