<button
  class="bg-Light hover:bg-LightHover py-2 px-2 flex flex-col justify-center items-center rounded-lg w-full overflow-hidden group"
  [routerLink]="['/cat-list', name]"
>
  <!-- <mat-icon class="mat-icon-size-categories ">{{ icon }}</mat-icon> -->
  <img
    src="{{ image }}"
    class="transition duration-400 md:w-20 md:h-20 w-14 h-14 group-hover:scale-110 object-contain"
  />
  <p class="text-sm md:text-md text-center text-Blue font-medium mt-1 truncate">
    {{ name }}
  </p>
</button>
