/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

// * {
//   font-family: "Roboto", sans-serif;
// }
.mdc-notched-outline__notch {
  border-right: none;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
// @media (max-width: 768px) {
//   /* Estilos para telas menores que 768px */
//   .fullscreen {
//     padding-right: 0px;
//     padding-left: 0px;
//     padding-top: 0px;
//   }
// }

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.textLarge {
  font-size: 1.5rem/* 24px */;
        line-height: 2rem/* 32px */;
}
.textLargeSM {
  font-size: 1.125rem/* 18px */;
      line-height: 1.75rem/* 28px */
}
